.App {
  text-align: center;
  }
.container{
  width:60%;
}
h2{
  color: #ffffff;
}
ul{
  text-align: left;
}
.panel-default>.panel-heading{
  background-color:tan;
}
.list-group-item{
  background-color:beige ;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
background-color: lightgrey;
}
@media only screen and (max-width: 600px) {
  .container{
    width:90%;
  }
} 